html,
body,
#app {
  margin: 0;
  padding: 0;
  height: 100%;
  min-width: 1366px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box
}

.el-breadcrumb {
  margin-bottom: 15px;
  font-size: 18px !important;
}

.el-menu-item {
  font-size: 18px !important;
}

.el-submenu span {
  font-size: 18px !important;

}

.el-card {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15) !important;
}

.el-table {
  margin-top: 15px;
}

.el-pagination {
  margin-top: 15px;
}

.el-cascader {
  width: 100%;
}

.el-steps {
  margin-top: 25px;
}


.el-tabs__item.is-left {
  font-size: 16px;
}

.ql-editor {
  min-height: 300px;
}
